/api/.idea
/app/.idea

/api/.bundle

# Ignore the default SQLite database.
/api/db/*.sqlite3
/api/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/api/log/*
!/api/log/.keep
/api/tmp

#client
/app/node_modules
/app/dist/
/app/*.iml
/app/webpack-stats.json
/app/npm-debug.log

